* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

$primary: #2196f3;
$secondary: #4caf50;
$bg-color: #f0f0f0;
$border-color: #888;
$btn-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
$btn-hover-lighten: 10;

// row by view port
$appbar: (
  '6': 630px,
  '5': 768px,
  '4': 958px,
  '3': 1412px,
);
@mixin ab-6 {
  @media (max-width: map-get($appbar, '6')) {
    @content;
  }
}
@mixin ab-5 {
  @media (max-width: map-get($appbar, '5')) {
    @content;
  }
}
@mixin ab-4 {
  @media (max-width: map-get($appbar, '4')) {
    @content;
  }
}
@mixin ab-3 {
  @media (max-width: map-get($appbar, '3')) {
    @content;
  }
}

body {
  font-family: sans-serif;
}

#container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  @include ab-3 {
    margin-top: 150px;
  }
  @include ab-4 {
    margin-top: 190px;
  }
  @include ab-5 {
    margin-top: 240px;
  }
  @include ab-6 {
    margin-top: 280px;
  }
}

// Header
#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $bg-color;
  padding: 10px;
  box-sizing: border-box;
  transition: top 0.3s ease-in-out;
  z-index: 10;

  ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  a {
    display: inline-block;
    padding: 8px 16px;
    background-color: $primary;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: $btn-shadow;

    &:hover {
      background-color: lighten($primary, $btn-hover-lighten);
    }
  }
}

// Category
.category {
  margin-bottom: 25px;

  &__title {
    background-color: $primary;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    padding: 10px 30px 10px 20px;
    text-align: left;
    margin: 0 auto;
    border-radius: 5px 15px 15px 5px;
  }

  &__item {
    display: flex;
    padding: 10px;
    margin-top: 15px;
    align-items: center;
    border: 1px solid $border-color;
    border-radius: 6px;
    gap: 10px;
  }

  &__name {
    font-weight: 600;
    font-size: 14px;
    width: 30%;
    word-break: break-all;
  }

  .generated-text {
    flex-grow: 1;
    margin-left: 20px;
    flex-basis: 0;
    min-width: 0;
    word-break: break-all;
  }
}

// Button
.btn {
  background-color: $secondary;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: $btn-shadow;

  &:hover {
    background-color: lighten($secondary, $btn-hover-lighten);
  }

  &--copy {
    background-color: $primary;

    &:hover {
      background-color: lighten($primary, $btn-hover-lighten);
    }
  }
}

// Toast
.toast {
  visibility: hidden;
  min-width: 100px;
  margin-left: -125px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 100;
  left: 50%;
  bottom: 30px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

// FAB
$fab-size: 50px;
$svg-size: 32px;
.fab {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  gap: 10px;

  &__btn {
    background-color: $primary;
    color: white;
    border: none;
    border-radius: 50%;
    width: $fab-size;
    height: $fab-size;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $btn-shadow;
    transition: all 0.3s ease;
    cursor: pointer;

    svg {
      width: $svg-size;
      height: $svg-size;
      fill: white;
    }

    &:hover {
      transform: scale(1.1);
      background-color: lighten($primary, $btn-hover-lighten);
    }
  }
}

// Modal
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* overlay */
  justify-content: center;
  align-items: center;
  z-index: 100;

  &__content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    max-height: 450px;
    overflow-y: auto; /* Scroll if content overflows */
    text-align: center;
  }
  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    text-align: left;
  }

  ul {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
  }

  li {
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #f1f1f1;
    }
  }

  .close-btn {
    margin-top: 10px;
    padding: 10px 30px;

    &:hover {
      background-color: lighten($secondary, $btn-hover-lighten);
    }
  }
}
#info-modal {
  .modal__content {
    width: 300px;
  }
}
